[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jinja2 = "*"
flask = "*"
bs4 = "*"
boto3 = "*"
requests = "*"
beautifulsoup4 = "*"
retrying = "*"
python-dateutil = "*"
click = "*"
feedparser = "*"
requests-toolbelt = "*"
neo4j = "*"
pendulum = "*"

[requires]
python_version = "3.6"
